*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: arial;
}
body{
    margin: 0 auto;
}
.head{
    position: relative;
    width: 1260px;
    height: 95px;
}
.head .logo{
    position: absolute;
    width: 300px;
    top: 15px;
    left: 145px;
    z-index: 1;
    /* margin: 20px 0 0 20px; */
}
.head .name{
    position: absolute;
    top: 27px;
    left: 440px;
    width: 200px;
    z-index: 1;
}
.nav{
    /* position: relative; */
    float: left;
    width: 100%;
    height: 50px;
    background: #8e0b02;
    text-align:center;
}
.nav ul{
    width: 100%;
    height: 50px;
    /* margin: 0 0 0 177px;
    overflow: hidden; */
    text-align: center;
}
.nav .index{
    display: inline-block;
    /* float: left; */
    padding: 0 100px;
    border: none;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.nav li:hover{
    background: rgba(255, 255, 255, .5);
}
.nav .current{
    background: rgba(255, 255, 255, .5);
}

.contant{
    margin-top: 80px;
    width: 100%;
    height: 500px;
    /* background: #000; */
}
.contant .notice{
    float: left;
    width: 350px;
    height: 450px;;
    background: #8e0b02;
    /* margin: 30px 0 0 20px; */
    margin-left: 123px;;
    background-image: url(../img/yun.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right bottom;
}
.contant .onlinerepair{
    float: left;
    border: #888 1px solid;
    width: 800px;
    height: 450px;;
    background: #fff;
    /* margin: 30px 0 0 20px; */
    margin-left: 40px;;
    background-image: url(../img/ding.png),url(../img/ding.png),url(../img/ding.png),url(../img/ding.png);
    background-position: 20px 20px,765px 20px,20px 425px,765px 425px;
    background-size: 2%;
    background-repeat: no-repeat;
}
.tit{
    margin-top: 5px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 40px;
}
.contant-tit{
    margin: 5px 7px 0;
    color: #fff;
    text-indent: 2em;
    font-size: 20px;
    line-height: 40px;
}
.inside-box{
    /* background: yellow; */
    margin: 25px auto 0 ;
    background-image: url(../img/扳手.png),url(../img/锤子.png);
    background-repeat: no-repeat;
    background-position: 565px 288px,right bottom;
    background-size: 8%,11%;
    width: 700px;
    height: 425px;
}
.online-tit{
    color: #000;
}
.worker{
    position: absolute;
    height: 93px;
    right: 130px;
    bottom: 0;
}
.toolCase{
    position: absolute;
    height: 80px;
    right: 0px;
    bottom: 0;
}