*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: arial;
}
body{
    margin: 0 auto;
}
.head{
    position: relative;
    width: 1519px;
    height: 95px;
    margin: 0 auto;
}
.head .logo{
    position: absolute;
    width: 300px;
    top: 15px;
    left: 247px;
    z-index: 1;
    /* margin: 20px 0 0 20px; */
}
.head .name{
    position: absolute;
    top: 27px;
    left: 560px;
    width: 200px;
    z-index: 1;
}
.nav{
    /* position: relative; */
    /* float: left; */

    background: #8e0b02;

}
.navLi{
    width: 1260px;
    height: 50px;
    text-align:center;
    margin: 0 auto;
}
.navLi ul{
    width: 100%;
    height: 50px;
    /* margin: 0 0 0 177px;
    overflow: hidden; */
    text-align: center;
}
.navLi .index{
    display: inline-block;
    /* float: left; */
    /* padding: 0 100px; */
    border: none;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.contant{
    margin: 40px auto 0px;
    width: 1260px;
    height: auto;
    /* background: #000; */
    /* overflow: auto;
    background-image: url(../img/bg-gonggao.png); */
}
.contant .notice{
    border-radius: 5px;
    float: left;
    position: relative;
    width: 350px;
    height: 450px;
    background: #8e0b02;
    /* margin: 30px 0 0 20px; */
    /* margin-left: 54px; */
    background-image: url(../img/cloud.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right bottom;
}
.contant .onlinerepair{
    position: relative;
    float: left;
    border-radius: 5px;
    border: #888 1px solid;
    width: 800px;
    height: 450px;
    background: #fff;
    /* margin: 30px 0 0 20px; */
    margin-left: 40px;
    background-image: url(../img/blackboard.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.process{
    float: left;
    border-radius: 5px;

    width: 240px;
    height: 450px;
    background-image: url(../img/tool.png);
    background-position: 80px 349px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 40%;
}
.process img{
    margin-top: 40px;
    height: 270px;
}
.tit{
    margin-top: 25px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 40px;
}
.contant-tit{
    margin: 5px 7px 0;
    color: #fff;
    /* text-indent: 2em; */
    font-size: 20px;
    line-height: 40px;
    padding: 0 10px;
}
.inside-box{
    float: left;
    /* background: yellow; */
    /* margin: 25px auto 0 ; */
    margin: 55px 0 0 55px ;
    border: 1px solid #eee;
    width: 500px;
    height: 350px;
    background: #fff;
}
.icontie{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 20px;
    left: 255px;
    background-image: url(../img/tiezhi.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.pen{
    position: absolute;
    bottom: 12px;
    right: 229px;
    width: 100px;
    height: 20px;
    background-image: url(../img/pen.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.online-tit{
    color: #333;
}
.changeNotice{
    padding: 0 45px;
    font-size: 20px;
}
.worker{
    position: absolute;
    height: 93px;
    right: 331px;
    bottom: 0px;
    bottom: -7px;
}
.toolCase{
    position: absolute;
    height: 105px;
    right: 417px;
    bottom: -7px;
}
.date{
    float: left;
    display: block;
    position: absolute;
    bottom: 20px;
    right: 25px;;
    font-size: 18px;
    color: #333;
}
.imformation{
    margin: 0 auto;
    border: 1px solid #888;
    border-radius: 5px;
    height: 500px;
    width: 900px;
    background: #fff;
}
.hide{
    display: none;;
}
.imformation .bg{
    margin-top: -1px;
    border-radius: 5px 5px 0 0;
    height: 20px;
    background: #bbb;
}
.top-tit{
    width: 100%;
    margin-top: 10px;;
    height: 80px;
    /* background: #000; */

}
.repair-tit{
    float: right;
    margin: 0px 20px 0px 0;
    width: 200px;
    height: 80px;
    /* background: #fff; */
}
.chinaName{
    color: #f99b3f;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.englishName{
    font-size: 18px;;
    text-align: center;
    line-height: 25px;;
}
.insideContant{
    position: relative;
    margin: 0 auto;
    border:1px solid #eee;
    border-radius: 5px;
    width: 800px;
    height: 350px;
}
.repairName{
    display: block;
    position: absolute;
    top: -15px;
    left: 40px;;
    width: 150px;
    height: 30px;
    background: #f99b3f;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
.form{
    margin: 40px auto;
    width: 500px;
    height: 280px;
    /* background: #000; */
}
.form .repair-information{
    /* display: block; */
    /* margin: 0 auto; */
    width: 250px;
    height: 25px;
    font-size: 18px;
    text-indent: 4px;
}
.form .inputEmail{
    width: 150px;
}
#email{
    position: relative;
    height: 30px;
    top: -1px;
    margin-left: -5px;
}
.form .spanStyle{
    display: inline-block;
    margin-right: 25px;
    width: 100px;
    text-align: right;
}
.formBlock{
    position: relative;
    margin-top: 15px;;
}
.formBlock>select{
    margin: 0 8px 0 -2px;
    height: 26px;
}
.formBlock>select>option{
    margin: 0 8px 0 -2px;
    height: 25px;
}
.dormitoryNumber{
    width: 100px;
    height: 24px;
    text-indent: 1em;
}
.pos{
    margin-top: 60px;;
}
.radios{
    margin:0 10px 0 8px;
}
.form .appoint{
    width: 150px;
    height: 20px;;
    font-size: 14px;
}
.textareaStyle{
    font-size: 18px;;
    vertical-align: top;
    resize: none;
    text-indent: 4px;
}
.handIn{
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #f99b3f;
}
.iconHandin{
    position: absolute;
    top: 8px;
    left: 215px;
    background-image: url(../img/dianji.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;;
}
.handin-tit{
    display: inline-block;
    margin-left: 24px;
    /* font-weight: bold; */
    font-size: 16px;
    color: #000;
}
.handIn:focus{
    outline: none;
}
.findOrder{
    position: relative;
    margin: 0 auto;
    border: 1px solid #888;
    width: 900px;
    border-radius: 5px;
    /* height: 1000px; */
    /* background: #000; */
}
.iconClip{
    position: absolute;
    top: -13px;
    right: 80px;
    width: 50px;
    height: 50px;
    background-image: url(../img/clip.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.overChange{
    overflow: initial;
}
.iconLabel{
    width: 150px;
    height: 50px;
    margin: 10px 0 0 -83px;
    background-image: url(../img/biaoqian.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.curLabel{
    width: 200px;
    height: 70px;
}
.iconLabel:hover{
    margin-left: -70px;
    /*transform: all .5s;*/
}
.label-tit{
    margin-left: 10px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 50px;
}
.cur-tit{
    font-size: 24px;
    line-height: 70px;
    margin-left: 20px;
}
.orderContant{
    margin: 0 auto;
    /* border: 1px solid #eee; */
    width: 800px;
    height: 800px;
    margin-top: -113px;
}
.order{
    position: relative;
    margin: 40px auto;
    width: 700px;
    height: 200px;
    border: 1px solid #eee;
    box-shadow: 6px 4px 6px 0px #888888;
}
.finishorder{
    position: relative;
    margin: 40px auto;
    width: 700px;
    height: 200px;
    border: 1px solid #eee;
    box-shadow: 6px 4px 6px 0px #888888;
}
.yellowLabel
{
    position: absolute;
    top: -1px;
    /* right: 80px; */
    left: 25px;
    width: 110px;
    height: 115px;
    background-image: url(../img/biaoqian1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.order .state-tit{
    position: absolute;
    left: 40px;
    top: 6px;
    display: block;
    padding: 3px 0;
    width: 30px;
    /* height: 80px; */
    font-size: 19px;
    line-height: 22px;
    text-align: center;

}
.finishorder .finishstate-tit{
    position: absolute;
    left: 40px;
    top: 6px;
    display: block;
    padding: 3px 0;
    width: 30px;
    /* height: 80px; */
    font-size: 19px;
    line-height: 22px;
    text-align: center;

}
.order .orderInformation{
    width: 400px;
    height: 130px;
    margin: 25px auto;
    /* border: 1px solid #8e0b02; */
}
.finishorder .finishorderInformation{
    width: 400px;
    height: 130px;
    margin: 25px auto;
    /* border: 1px solid #8e0b02; */
}
.orderInformation .orderInside{
    float: left;
    width:250px;
    height: 130px;
    /* background: #000; */
}
.finishorderInformation .finishorderInside{
    float: left;
    width:250px;
    height: 130px;
    /* background: #000; */
}
.orderInformation .orderImg{
    display: inline-block;
    width: 150px;
    height: 120px;
    background-image: url(../img/head1.jpg);
    background-size: contain;
    background-repeat: no-repeat;;
}
.finishorderInformation .finishorderImg{
    display: inline-block;
    width: 150px;
    height: 120px;
    background-image: url(../img/head1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.order-tit
{
    margin: 5px;
    font-weight: bold;
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
    overflow: hidden;
}
.finishorder-tit
{
    margin: 5px;
    font-weight: bold;
    font-size: 16px;
}
.orderImg img{
    display: block;
    margin: 2px auto;
    width: 150px;
    height: 120px;
}
.finishorderImg img{
    display: block;
    margin: 2px auto;
    width: 150px;
    height: 120px;
}
.finish
{
    position: absolute;
    bottom: 10px;
    right: 30px;
    border: 1px solid #8e0b02;
    border-radius: 10px;
    padding: 5px 8px;
    color: #8e0b02;
    background: #fff;
    cursor: pointer;
}
.comment
{
    position: absolute;
    bottom: 10px;
    right: 30px;
    border: 1px solid #8e0b02;
    border-radius: 10px;
    padding: 5px 8px;
    color: #8e0b02;
    background: #fff;
    cursor: pointer;
}
.comment:focus{
    outline: none;
}
.again{
    position: absolute;
    bottom: 10px;
    right: 110px;
    border: 1px solid #8e0b02;
    border-radius: 10px;
    padding: 5px 8px;
    color: #8e0b02;
    background: #fff;
    cursor: pointer;
}
.page{
    float: right;
    width: 200px;
    height: 30px;
    margin: 30px 0 0 0;
    /* background: #000; */
    position: relative;
    right: 70px;
    bottom: 70px;
}
.page>.cur{
    color: #fff;
    background: #8e0b02;
}
.page-number{
    display: inline-block;
    margin: 5px 5px;
    padding: 0 5px;
    border: 1px solid #373737;
    /* width: 10px;
    height: 10px; */
    background: #fff;
    color: #000;
    cursor: pointer;
}
.againDiv{
    /* float: left; */
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.54);
    z-index: 10;
}
.againTime{
    position: relative;
    /* top: 50%; */
    /* margin-top: -300px; */
    margin: 200px auto;
    width: 350px;
    height: 300px;
    background: #ffffffd9;
}
.again-tit{
    display: block;
    position: absolute;
    top: 20px;
    margin: 0px 0 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.againSelectTime{
    position: absolute;
    display: inline-block;
    top: 100px;
    left: 20px;
    margin: 0 auto;
}
.againSelectTime select{
    width: 100px;
    height: 40px;
}
.againInsure{
    position: absolute;
    bottom: 20px;
    border: none;
    /* left: 50%; */
    left: 100px;
    margin: 0 auto;
    width: 150px;
    /* width: 100px; */
    height: 50px;
    border-radius: 10px;
    background: #8e0b02;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.againInsure:focus{
    outline: none;
}
.icon-cha{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../img/cha.png);
    background-size: contain;
    cursor: pointer;
}
.finishOrderContant{
    margin: 0 auto;
    margin-top: -113px;
    /* border: 1px solid #eee; */
    width: 800px;
    height: 800px;
    /* background: #000; */
}
.evaluate{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.54);
    z-index: 10;
}
.evaluateBox{
    position: relative;
    /* top: 50%; */
    /* margin-top: -300px; */
    margin: 200px auto;
    width: 500px;
    height: 370px;
    background: #ffffffd9;
}
.evaluateBox-tit{
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 22px;
    font-weight: bold;
}
.flowerEvaluate{
    position: relative;
    top: 56px;
    margin: 0 auto;
    width: 322px;
    height: 30px;
}
.iconattitude{
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-good{
    background-image: url(../img/good.png);
}
.icon-middle{
    background-image: url(../img/middle.png);
}
.icon-bad{
    background-image: url(../img/bad.png);
}
.attitudeRadio>span{
    line-height: 30px;
    margin-left: 35px;
}
.attitudeRadio{
    display: inline-block;
    margin-left: 20px;
}
.commentArea{
    font-size: 18px;;
    vertical-align: top;
    resize: none;
}
.textEvaluate{
    top: 75px;
    width: 300px;
    position: relative;
    margin: 0 auto;
}
.evaluateSure{
    position: absolute;
    bottom: 15px;
    border: none;
    /* left: 50%; */
    left: 185px;
    margin: 0 auto;
    width: 150px;
    /* width: 100px; */
    height: 50px;
    border-radius: 10px;
    background: #8e0b02;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.icon-chaa{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../img/cha.png);
    background-size: contain;
    cursor: pointer;
}
.bye{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../img/bye.png);
    background-size: contain;
    cursor: pointer;
}
#inputphoto{
    position: absolute;
    bottom: 0px;
    /* right: 90px; */
    opacity: 0;
    left: 140px;
    width: 202px;
    height: 40px;
    z-index: 3;
    cursor: pointer;
}
.photo{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 6px;
    right: 300px;
    cursor: pointer;
}
.history{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(../img/history.png);
    background-size: contain;
    cursor: pointer;
}
.historyNotice{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.54);
    z-index: 10;
}
.historyBox{
    position: relative;
    /* top: 50%; */
    /* margin-top: -300px; */
    margin: 50px auto;
    width: 800px;
    height: 570px;
    background: #ffffffd9;
}
.history-cha{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../img/cha.png);
    background-size: contain;
    cursor: pointer;
}
.history-tit{
    display: block;
    /* position: absolute;
    top: 20px; */
    padding: 20px 0;
    margin: 0px 0 0 20px;
    font-size: 25px;
    font-weight: bold;
    color: #333;
}
.historyContant{
    margin: 0 auto 20px;
    width: 700px;
    height: 420px;
    /* background: #000; */
    overflow: auto;
}
.history-page{
    float: right;
    margin-right: 100px;
}
.history-Number{
    background: seagreen;
    color: #fff;
    padding: 0px 5px;
    font-size: 20px;
    margin: 5px;
}
.boardMsg{
    display: inline-block;
    width: 420px;
    padding: 0 10px;
    text-align: left;
    line-height: 30px;
    min-height: 30px;
}
.his-date{
    display: inline-block;
    width: 170px;
    text-align: center;
    line-height: 30px;
    min-height: 30px;
    /* height: 300px; */
}
.historyInside{
    /* background: #eee; */
    border-bottom: 1px solid #888;
    margin: 10px 0;
}
.saveImg{
    position: absolute;
    width: 200px;
    height: 50px;
    /* background: #000; */
    z-index: 20;
    bottom: 5px;
    right: 90px;
    overflow: hidden;
}
.saveImg img{
    height: 50px;
    width: 60px;
    margin-left: 5px;
}
.progressBat{
    position: absolute;
    bottom: 5px;
    left: 145px;
    width: 200px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.progressFirst{
    background-image: url(../img/jindu1.png);
}
.progressSecond{
    background-image: url(../img/jindu2.png);
}
.progressThird{
    background-image: url(../img/jindu3.png);
}
.progressWrong{
    width: 200px;
    background-image: url(../img/yichang.png);
}
.mynav {
    width:800px;
    margin:50px auto;
    display:inline-block;
}
.item {
    width:200px;
    height:50px;
    float:left;
    perspective:4000px;
    -webkit-perspective:4000px;
    margin-right:8px;
}
.item a {
    text-decoration:none;
    display:block;
    height:50px;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    transition:all 1s;
    -webkit-transition:all 1s;
}
.item a:hover {
    transform:rotateX(90deg);
    /*-webkit-rotateX:(90deg);*/
}
.item a p {
    text-align:center;
    line-height:50px;
    height:50px;
    /* font-family:"微软雅黑"; */
    color:white;
    font-size:20px;
    margin:0px;
    border-radius:3px;
}
.item a p:first-child {
    background-color:#8e0b02;
    transform:translateZ(25px);
}
.item a p:last-child {
    background-color:#ffffffd9;
    transform:rotateX(-90deg) translateZ(-25px);
    -webkit-transform:rotateX(-90deg) translateZ(-25px);
}
.finish:focus{
    outline: none;
}
.again:focus{
    outline: none;
}