*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: arial;
}
body{
    margin: 0 auto;
}
.head{
    position: relative;
    width: 1260px;
    height: 95px;
    margin: 0 auto;
}
.head .logo{
    position: absolute;
    width: 300px;
    top: 15px;
    left: 145px;
    z-index: 1;
    /* margin: 20px 0 0 20px; */
}
.head .name{
    position: absolute;
    top: 27px;
    left: 440px;
    width: 200px;
    z-index: 1;
}
.nav{
    /* position: relative; */
    /* float: left; */
    width: 1260px;
    height: 50px;
    background: #8e0b02;
    text-align:center;
    margin: 0 auto;
}
.nav ul{
    width: 100%;
    height: 50px;
    /* margin: 0 0 0 177px;
    overflow: hidden; */
    text-align: center;
}
.nav .index{
    display: inline-block;
    /* float: left; */
    padding: 0 100px;
    border: none;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.nav li:hover{
    background: rgba(255, 255, 255, .5);
}
.nav .current{
    background: rgba(255, 255, 255, .5);
}

.contant{
    margin: 40px auto;
    width: 1260px;
    height: auto;
    /* background: #000; */
    overflow: auto;
}
.contant .notice{
    float: left;
    position: relative;
    width: 350px;
    height: 450px;
    background: #8e0b02;
    /* margin: 30px 0 0 20px; */
    margin-left: 54px;
    background-image: url(../img/yun.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right bottom;
}
.contant .onlinerepair{
    float: left;
    border: #888 1px solid;
    width: 800px;
    height: 450px;;
    background: #fff;
    /* margin: 30px 0 0 20px; */
    margin-left: 40px;;
    background-image: url(../img/ding.png),url(../img/ding.png),url(../img/ding.png),url(../img/ding.png);
    background-position: 20px 20px,765px 20px,20px 425px,765px 425px;
    background-size: 2%;
    background-repeat: no-repeat;
}
.tit{
    margin-top: 5px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 40px;
}
.contant-tit{
    margin: 5px 7px 0;
    color: #fff;
    text-indent: 2em;
    font-size: 20px;
    line-height: 40px;
}
.inside-box{
    /* background: yellow; */
    margin: 25px auto 0 ;
    background-image: url(../img/扳手.png),url(../img/锤子.png);
    background-repeat: no-repeat;
    background-position: 565px 288px,right bottom;
    background-size: 8%,11%;
    width: 700px;
    height: 425px;
}
.online-tit{
    color: #000;
}
.worker{
    position: absolute;
    height: 93px;
    right: 300px;
    bottom: 0;
}
.toolCase{
    position: absolute;
    height: 80px;
    right: 180px;
    bottom: 0;
}
.date{
    float: left;
    display: block;
    position: absolute;
    bottom: 20px;
    right: 25px;;
    font-size: 18px;
    color: #fff;
}
.imformation{
    margin: 0 auto;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    height: 500px;
    width: 900px;
    background: #fff;
}
.hide{
    display: none;;
}
.imformation .bg{
    height: 20px;
    background: #eee;
}
.top-tit{
    width: 100%;
    margin-top: 10px;;
    height: 80px;
    /* background: #000; */
    
}
.repair-tit{
    float: right;
    margin: 0px 20px 0px 0;
    width: 200px;
    height: 80px;
    /* background: #fff; */
}
.chinaName{
    color: #f99b3f;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.englishName{
    font-size: 18px;;
    text-align: center;
    line-height: 25px;;
}
.insideContant{
    position: relative;
    margin: 0 auto;
    border:1px solid #eee;
    border-radius: 5px;
    width: 800px;
    height: 350px;  
}
.repairName{
    display: block;
    position: absolute;
    top: -15px;
    left: 40px;;
    width: 150px;
    height: 30px;
    background: #f99b3f;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
.form{
    margin: 40px auto;
    width: 500px;
    height: 280px;
    /* background: #000; */
}
.form .repair-information{
    /* display: block; */
    /* margin: 0 auto; */
    width: 250px;
    height: 25px;
    font-size: 18px;
    text-indent: 1em;
}
.form .spanStyle{
    display: inline-block;
    margin-right: 25px;
    width: 100px;
    text-align: right;
}
.formBlock{
    position: relative;
    margin-top: 15px;;
}
.formBlock>select{
    margin: 0 8px 0 -2px;
    height: 26px;
}
.formBlock>select>option{
    margin: 0 8px 0 -2px;
    height: 25px;
}
.dormitoryNumber{
    width: 100px;
    height: 24px;
    text-indent: 1em;
}
.pos{
    margin-top: 60px;;
}
.radios{
    margin:0 10px 0 8px;
}
.form .appoint{
    width: 150px;
    height: 20px;;
    font-size: 14px;
}
.textareaStyle{
    font-size: 18px;;
    vertical-align: top;
    resize: none;
}
.handIn{
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #f99b3f;
}
.iconHandin{
    position: absolute;
    top: 8px;
    left: 215px;
    background-image: url(../img/dianji.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;;
}
.handin-tit{
    display: inline-block;
    margin-left: 15px;
}
.findOrder{
    position: relative;
    margin: 0 auto;
    border:1px solid #eeeeee;
    width: 900px;
    height: 1000px;
    /* background: #000; */
}
.iconClip{
    position: absolute;
    top: -20px;
    right: 80px;
    width: 40px;
    height: 40px;
    background-image: url(../img/图层\ 2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.overChange{
    overflow: initial;
}
.iconLabel{
    position: absolute;
    /* top: -20px; */
    /* right: 80px; */
    width: 80px;
    height: 80px;
    background-image: url(../img/biaoqian.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.orderContant{
    margin: 100px auto;
    border: 1px solid #eee;
    width: 800px;
    height: 800px;
}
.order{
    position: relative;
    margin: 40px auto;
    width: 700px;
    height: 200px;
    border: 1px solid #eee;
    box-shadow: 4px 4px 14px 0px #888888
}
.yellowLabel
{
    position: absolute;
    /* top: -20px; */
    /* right: 80px; */
    left: -15px;
    width: 110px;
    height: 110px;
    background-image: url(../img/shuqianbookmark30.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.order .state-tit{
    position: absolute;
    left: 25px;
    display: block;
    width: 30px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    
}
.order .orderInformation{
    width: 500px;
    height: 130px;
    margin: 25px auto;
    /* border: 1px solid #8e0b02; */
}
.orderInformation .orderInside{
    float: left;
    width:250px;
    height: 130px;
    /* background: #000; */
}
.order-tit
{
    margin: 5px;
    font-weight: bold;
    font-size: 16px;
}
.orderInside img{
    display: block;
    margin: 2px auto;
    width: 150px;
    height: 120px;
}
.finish
{
    position: absolute;
    bottom: 10px;
    right: 30px;
    border: 1px solid #8e0b02;
    border-radius: 10px;
    padding: 5px 8px;
    color: #8e0b02;
    background: #fff;
    cursor: pointer;
}
.page{
    float: right;
    width: 200px;
    height: 30px;
    margin: 30px 0 0 0;
    /* background: #000; */
}
.page>.cur{
    color: #fff;
    background: #8e0b02;
}
.page-number{
    display: inline-block;
    padding: 0 5px;
    border: 1px solid #373737;
    /* width: 10px;
    height: 10px; */
    background: #fff;
    color: #000;
    cursor: pointer;
}