*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.bg{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.noticeBox{
    position: relative;
    margin: 0 auto;
    width: 1260px;
    height: 100%;
    /* background: #000; */
}
.noticeInside{
    position: relative;
    margin: 80px auto 0;
    width: 800px;
    height: 400px;
    background: #8e0b02;
}
.notice-tit{
    /* position: relative; */
    /* top: 10px; */
    margin: 10px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: 30px;
}
.textArea{
    display: block;
    margin: 10px auto;
    width: 645px;
    height: 288px;
    resize: none;
    font-size: 22px;
}
.sure{
    display: block;
    margin: 10px auto ;
    border: none;
    border-radius: 10px;;
    width: 150px;
    height: 50px;
    background: #8e0b02;
    color: #fff;
    font-size: 20px;
    line-height: 50px;;
    text-align: center;
    cursor: pointer;
}
.sure:focus{
    outline: none;
}
.return{
    position: absolute;
    top: 20px;
    width: 100px;
    height: 100px;
    background-image: url(../img/icon-fanhui.png);
    background-size: contain;
    cursor: pointer;
}