*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
html{
    background: #fcf9f5;
}
.bg{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.noticeBox{
    position: relative;
    margin: 0 auto;
    width: 1260px;
    height: 100%;
    /* background: #000; */
    background-image: url(../img/left.png),url(../img/right.png);
    background-position: 28px 62px,935px 57px;
    background-size: 25%;
    background-repeat: no-repeat;
}
.noticeInside{
    position: relative;
    margin: 80px auto 0;
    width: 500px;
    border-radius: 5px;
    height: 430px;
    background: #8e0b02;
}
.notice-tit{
    /* position: relative; */
    /* top: 10px; */
    margin: 4px 0 37px 0;
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: 30px;
}
.textArea{
    display: block;
    margin: 10px auto;
    width: 415px;
    height: 288px;
    resize: none;
    font-size: 22px;
    padding: 10px;
}
.sure{
    display: block;
    margin: 10px auto ;
    border: none;
    border-radius: 10px;;
    width: 150px;
    height: 50px;
    background: #8e0b02;
    color: #fff;
    font-size: 20px;
    line-height: 50px;;
    text-align: center;
    cursor: pointer;
}
.sure:focus{
    outline: none;
}
.return{
    position: absolute;
    top: 20px;
    left: -49px;
    width: 100px;
    height: 100px;
    background-image: url(../img/fanhui.png);
    background-size: contain;
    cursor: pointer;
}
.notice-tit img{
    display: block;
    position: relative;
    width: 200px;
    margin: 0px auto;
    top: 19px;
}